<html lang="en">
  <head>
    <title>Employee Registration</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
    <style>
      .signup-box {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }

      form {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        max-width: 800px;
      }

      .form-column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
      }

      input[type="button"] {
        width: 320px;
        height: 35px;
        margin-top: 20px;
        border: none;
        
}
    </style>
  </head>
  <body>
    {{>navbar4}}
      <h1 style="padding: 10px 10px">Staff Registration</h1>
      <div style="padding-left:250px;">
        <form action="/empsignup" method="post">
        <div class="form-column container">
          <label>Employee Number</label>
        <input type="number" name="empno" id="" />
          <label>First Name</label>
          <input type="text" name="firstname" placeholder="" />
          <label>Mobile Number</label>
          <input type="number" name="phone" id="" />
          <label>Age</label>
          <input type="number" name="age" placeholder="" />
          <label>Password</label>
          <input type="password" name="password" placeholder="" />
          
        </div>

        <div class="form-column container">
          <label>Last Name</label>
          <input type="text" name="lastname" placeholder="" />
          <label>Email</label>
          <input type="email" name="email" placeholder="" />
          <label>Confirm Password</label>
          <input type="password" name="confirmpassword" placeholder="" />
          
        </div>
        <div class="container"><input type="submit" name="submitbutton" id="" class="btn btn-lg btn-warning" style="position:relative; left:305px; margin-top:20px; padding: 0px 70px;"/>
</div>
      </form>
    




    <hr />
  </body>
</html>